<!-- Second page to add the book -->

<%- include('../partials/header') %>

<body>

  <h1 class="adBook"> Add Wild Book</h1>
    <form action="/books" method="POST">
  


  <div class="title">   

    <label>Title:
   <input type="text" name="title">
   
  </label> 
  </div> 

  <div class="author">  
  <label>Author:
    <input type="text" name="author">
  </label>
</div>

<div class="description">  
  <label>Description:
    <input type="text" name="description">
  </label>
</div>
 

<input type="submit" class="adbtn" value="Add Book">
</body>


</form>
  <%- include('../partials/footer') %>