<!-- First Main Page -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/books"> All Wild Books</a>
    <a href="/books/new"> Add Wild Book</a>
    <h1><%= title %></h1>
    <p>A Wild Book A Day Keeps Reality Away</p>
  </body>
</html>
